{% extends "base.html" %}


{% block main %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Grande Image AT.S de {{ symbol }}</h2>
          <ol>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li>{{ symbol }}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
		
      <div class="text-center">
                  <!--<img src="{{ img_path }}" alt="">       
      <br>-->
                  
                  <div id='chart' class='chart' style='height:800; width:1200'></div>
       <br>
             
		</div>
      </div>
    </section>

  </main><!-- End #main -->


                  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
                  <script type='text/javascript'>
                    var graphs = {{graphJSON | safe}};
                        Plotly.plot('chart',graphs,{});
                  </script>

  {% endblock %}